#!/bin/bash

# FILES ON MOBY VM (perhaps the same than your host)
# SHOULD FINISH BY installed_pims (because will be created on your host)
pimsPath="/Workspace/Akeneo/PIM/installed_pims"
composerPath="/Workspace/Tooling/.composer"
behatScreenshots="/Workspace/Akeneo/PIM/backup/tmp_behat/screenshots"

#Github and docker
dockerComposeFileName="docker-compose-not-commitable.yml"
communityRepo="git@github.com:akeneo/pim-community-dev.git"
enterpriseRepo="PUT_YOUR_OWN_HERE"

#The beginning of your path
akeneoPHP5Port="6"
akeneoPHP7Port="7"
akeneoPHP5BehatPort="8"
akeneoPHP7BehatPort="9"
seleniumPHP5Port="4"
seleniumPHP7Port="5"

#Distinction CE / EE
cePort="7"
eePort="8"

#Distinction ORM / ODM
ormPort="5"
odmPort="6"

#Distinction version Port
oneFourPort="4"
oneFivePort="5"
oneSixPort="6"
masterPort="9"
